<form method="post" action="{{ path('comment_restaurant_delete', {'id': comment_restaurant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment_restaurant.id) }}">
    <button class="btn">Delete</button>
</form>
