{% block body %}
{{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button class="uk-button uk-button-default uk-box-shadow-large uk-border-pill uk-margin-bottom uk-margin-top">valider</button>
{{ form_end(commentForm) }}

{% endblock %}