{% extends 'base.html.twig' %}

{% block title %}Edit CommentRestaurant{% endblock %}

{% block body %}
    <h1>Edit CommentRestaurant</h1>

    {{ include('comment_restaurant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_restaurant_index') }}">back to list</a>

    {{ include('comment_restaurant/_delete_form.html.twig') }}
{% endblock %}
