{% extends 'base.html.twig' %}

{% block title %}Edit CommentHotel{% endblock %}

{% block body %}
    <h1>Edit CommentHotel</h1>

    {{ include('comment_hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_hotel_index') }}">back to list</a>

    {{ include('comment_hotel/_delete_form.html.twig') }}
{% endblock %}
