{% extends 'base.html.twig' %}

{% block title %}New CommentHotel{% endblock %}

{% block body %}
    <h1>Create new CommentHotel</h1>

    {{ include('comment_hotel/_form.html.twig') }}

    <a href="{{ path('comment_hotel_index') }}">back to list</a>
{% endblock %}
