{% block body %}

<body>
    <h1>Une nouvelle review est demandé</h1>
    <p>Nom de l'etablissment : <strong>{{ review.name }}</strong></p>
    <p>Adresse : {{ review.adresse }}</p>
    <p>Type d'etablissment : : {{ review.type }}</p>
    

</body>
</html>
{% endblock %}